/* GENERAL */
*{
    margin: 0;
    padding: 0;
    
}

section{
    padding: 70px 0;
    text-align: center;
}

.section-headline{
    font: 50px;
    text-align:center;
}

/* HEADER */
#header{
    height: 900px;
    position: relative;
    text-align: center;

}

#header h1{
    font-size: 50px;
    text-align: center;
}

#header nav li{
    list-style: none;
    float: left;
    margin: 0 15px;
    font-size: 15px;
}

#header nav ul{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #292E37;
    width: 100%;  
    float: right;
    right: 0;
    top: 0;
    opacity: 0.;
}

#header a{
    text-decoration: none;
    color: white;
}

#header .title{
    padding-top: 90px;
}

#header nav{
    padding: 0px;
    position: fixed;
    width: 100%;
}

#header i{
    margin-top: 450px;
    font-size: 70px;
}